/* CUSTOM STYLES */
nav {
  width: 100%;
  background-color: #555;
  padding: 10px 0;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(248,110, 113);
}

nav a:hover {
  color: #7f4dd2;
}

.footer {
  background-color: #555;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 20px;
}

.footer-text {
  color: #fff;
  font-size: 10px;
}

.space {
  margin: 15px 0;
}

.btn-primary {
  color: #fff;
  background-color: #11f;
  border-radius: 2px;
  border: none;
  padding: 3px;
}

.btn-primary:hover {
  background-color: #77f;
}

.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.success {
  background-color: #ceffce;
  color: green;
  border: 1px solid green;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.no-flash {
  visibility: hidden;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.x-button {
  background-color: red;
  color: white;
  border-radius: 2px;
  float: right;
}

.home-form{
  background-color: rgba(130,130,130,.3);
  height: 150px;
  display: inline-block;
  width: 700px;
}

.form-form{
  padding-top: 60px;
}

.login-button{
  background-color: rgb(248,110, 113);

  color: black;
  margin-top: 20px;
  width: 150px;
  height: 30px;
}

.login-input{
  height: 40px;
  width: 300px;
  font-size: 18px;;
}


.messages-container,.bills-container, .shopping-container, .chore-container {
/*  display: inline-block;*/
/*  margin: 30px 30px;*/
  background-color: rgba(100,100,100,.3);
}

.widget-container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: 60vh;
  width: 60vh;
  margin: 0 auto;
  margin-bottom: 30px;

/*  height: 900px;
  width: 900px;*/
 /* margin-left: auto;
  margin-bottom: auto*/
}


/* DEFAULT STYLES FROM CREATE REACT APP MODULE */
.App {
  text-align: center;
  position: absolute;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(139,215,204);
  font-size: 58px;
  letter-spacing: 6px;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
