html,
body {
   margin:0 auto;
   height:100%;
   text-align: center;
   font-family: 'Roboto', sans-serif;
}

.content-container {
    position: relative;
    margin: 0 auto;
    margin-bottom: -20px;
    height: 100vh;
}

nav {
  padding: 10px;
  background-color: #263231;
}

.push {
  height: 20px;
}

ul {
  list-style: none;
  padding: 0 5px;
}

.footer {
  background-color: #555;
   position:fixed;
   bottom:0;
   width:100%;
   height:20px;   /* Height of the footer */
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #8BBCBD;
}

nav a:hover {
  color: #CEB8A6;
}

.footer-text {
  color: #fff;
  font-size: 10px;
}

.home {
  background-image: url('./paintedladies.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-primary {
  color: #fff;
  background-color: #11f;
  border-radius: 2px;
  border: none;
  padding: 3px;
}

.btn-primary:hover {
  background-color: #77f;
}

.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.success {
  background-color: #ceffce;
  color: green;
  border: 1px solid green;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.no-flash {
  visibility: hidden;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.x-button {
  background-color: red;
  color: white;
  border-radius: 2px;
  float: right;
}

.home-form{
  background-color: rgba(130,130,130,.9);
  height: 150px;
  display: inline-block;
  width: 700px;
}

.form-form{
  padding-top: 60px;
}

.login-button{
  background-color: rgb(248,110, 113);
  color: black;
  margin-top: 20px;
  width: 150px;
  height: 30px;
}

.login-input{
  height: 40px;
  width: 300px;
  font-size: 18px;;
}

.shopping-container, .chore-container, .memo-container, .bills-container  {
  background-color: #8bbcbd;
  max-height: 40vh;
  border: solid black 2px;
  border-radius: 8px;
}

.widget-container{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  margin: 0 auto;
  width: 85%;
  height: 85%;
  position: relative;
  bottom: 41px;
}

.house-banner{
  font-family: 'Bree Serif', serif;
  position: relative;
  bottom: 44px;
}

.list {
  max-height: 25vh;
  overflow: scroll;
}

.pantry-list-item, .chore-list-item, .pantry-grid-header, .chore-grid-header{
  display: grid;
  grid-template-columns: 2fr 3fr 3fr .5fr;
}

.bill-list-history, .bill-grid-header{
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
}
.bill-list{
  width: 600px;
  height: 400px;
  background-color: red;
  margin: 0 auto;
}

/****************************
=====Peter's css block ======
*****************************/

.nav-hero{
  height: 30vh;
  background-image: url(/cropped-ladies.jpg);
  background-size: cover;
  background-position: center;
}

.nav-hub-header{
  font-family: 'Lily Script One', cursive;
  font-size: 86px;
  position: relative;
  top: 59px;
 -webkit-text-stroke: 1px black;
 color: #ceb8a6;
 text-shadow:
     3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}


@media (max-width: 525px) {
  .nav-hub-header{
  font-size: 50px;
  }
}


<<<<<<< HEAD
=======












>>>>>>> 3fc11a2ee6addf854d9358919cc704688db5c56c
